{% extends "layout.html" %}

{% block body %}
    <h1>Book Modify:</h1>
    <form action="/book-update" method="POST">
        <h2>Book Update Form:</h2>
        <input autocomplete="off" name="book_title" placeholder="New Book Title" type="text">
        <input autocomplete="off" name="author_fname" placeholder="Author's First Name" type="text">
        <input autocomplete="off" name="author_lname" placeholder="Author's Last Name" type="text">
        <input autocomplete="off" name="publication_year" placeholder="Publication Year" type="text">
        <br>
        <label for="book">Book to Modify:</label>
            <select name="book_reference_book" id="book">
                {% for book in books %}
                    <option value={{book["book_id"]}}>{{book["title"]}}</option>
                {% endfor %}
            </select>
        <br>
        <input type="submit" value="Update this book">
    </form>
        
    </ul>
{% endblock %}
