{% extends "layout.html" %}

{% block body %}
    All Library Books:
    <a href="/book-list">List of Library Books</a>
    <form action="/book-list" method="POST">
        <table>
            {% for book in book_table %}
                <tr>
                    <td><em>{{ book['book_title']}}</em> {{book['book_author_lname']}} {{book['book_author_fname']}}</td>
                    <td><input type="checkbox" name="book_id" value={{ book['book_id'] }}></td>
                </tr>
            {% endfor %}
        </table>
    </form>

    </ul>

{% endblock %}