{% extends "layout.html" %}

{% block body %}
    All courses:
    <a href="/course-list">Add a new course</a>
    <form action="/course-list" method="POST">
        <table>
            {% for course in course_table %}
                <tr>
                    <td>{{ course['course_title'] }}</td>
                    <td><input type="checkbox" name="course_id" value={{ course['course_id'] }}></td>
                </tr>
            {% endfor %}
        </table>
    </form>

    </ul>

{% endblock %}