{% extends "layout.html" %}

{% block body %}
    
    
    <h1>Homepage</h1>
   
    <h2>Books</h2>
    &nbsp;
    <a href="/book-list">View Books</a>
    &nbsp;
    <a href="/book-entry">Add a Book</a>
    &nbsp;
    <a href="/book-update">Update a Book</a>
    &nbsp;
    <a href="/book-remove">Remove a Book</a>
    <br>
    <br>
    &nbsp;
    <a href="/book-checkout-selection">See books available for checkout</a>
    &nbsp;
    <br>
    <br>
    <h2>Patrons</h2>
    &nbsp;
    <a href="/patron-list">See all Patrons</a>
    &nbsp;
    <a href="/patron-entry">Add a Patron</a>
    &nbsp;
    <a href="/patron-update">Update a Patron</a>
    &nbsp;
    <a href="/patron-remove">Delete a Patron</a>
    <br>
    <br>
    <h2>Courses</h2>
    &nbsp;
    <a href="/course-list">View All Courses</a>
    &nbsp;
    <a href="/course-entry">Add a Course</a>
    &nbsp;
    <a href="/course-update">Update a Course</a>
    &nbsp;
    <a href="/course-remove">Delete a Course</a>
    <br>
    <br>
    <br>
    <br>
   

{% endblock %}
