{% extends "layout.html" %}

{% block body %}
    <h1>ToDo List:</h1>
    <a href="/book-entry">Add a new book</a>
    <form action="/" method="post">
        <table>
            {% for book in book_list %}
                <tr>
                    <td>{{ book['title'] }}</td>
                    <td><input type="checkbox" name="book_item" value={{ book['book_id'] }}></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Delete Books">
    </form>
    <a href="/patron-entry">Add a new patron</a>
    <form action="/" method="post">
        <table>
            {% for patron in patron_table %}
                <tr>
                    <td>{{ patron['first_name'] }}</td>
                    <td><input type="checkbox" name="patron_first_name" value={{ patron['account_id'] }}></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Delete Patrons">
    </form>
    </ul>
{% endblock %}
