{% extends "layout.html" %}

{% block body %}
    <h1>Delete Patron:</h1>
    <form action="/patron-remove" method="POST">
        <label for="patron">Select Patron to Remove:</label>
            <select name="account_id_to_delete" id="patron">
                {% for patron in patrons %}
                    <option value={{patron["account_id"]}}>{{patron["first_name"]}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="Delete Patron">
    </form>
    <br>
    <br>


{% endblock %}