{% extends "layout.html" %}

{% block body %}
    <h1>Add a New Patron:</h1>
    <form action="/patron-entry" method="POST">
        <input autocomplete="off" autofocus name="patron_first_name" placeholder="First Name" type="text">
        <input autocomplete="off" autofocus name="patron_last_name" placeholder="Last Name" type="text">

        <select name="account_type">
            <option value="STUDENT">Student</option>
            <option value="PROFESSOR">Professor</option>
            <option value="STAFF">Staff</option>
        </select>

        <input type="submit" value="Add Patron">
    </form>

{% endblock %}
